<div class="container">
    <h1>Welcome to my site</h1>
    <h3>Mission Statement</h3>
<p>"The mission is to make technology accessible for everyone"</p>
<p><img alt="" height="616" src="/Assets/images/tech1.jpg" width="1046"></p>
  </div>