<div class="container">
    <h1>Welcome to my projects page</h1>
    <h3>Happy Kids Arts Program</h3>
<p>This project is a software for parents to register and enrol their kids into various arts programs. The programs area
geared towards physical and mental development especially regarding the creative arts. Parents would be able to register 
and watch live feeds of their children. My role here is a Software Developer. Its currently in the requirements and design analysis
phase.</p>
<p><img alt="tech image" height="616" src="/Assets/images/happykids.jpg" width="1046"></p>
<h3>Health app</h3>
<p>This project would improve health outcomes of the general population. It would work with a fitness watch like the apple
watch to monitor people's vital signs and give recommendations and solutions to health problems. I intend to be the Software
Developer.</p>
<p><img alt="tech image" height="616" src="/Assets/images/Healthcare-Mobile-Apps.jpg" width="1046"></p>
<h3>Self driving Cars</h3>
<p>I hope to aid in the design of safe and efficient self driving vehicles which would aid in efficient transportation of 
goods and people. I look forward to working with a company like Google to deploy this technology. I intend to be a Software
Developer </p>
<p><img alt="tech image" height="616" src="/Assets/images/cars.jpg" width="1046"></p>

  </div>