<div class="container">
    <h1>Welcome to my projects page</h1>
    <h3>Happy Kids Arts Program</h3>
<p>This project is a software for parents to register and enrol their kids into various arts programs. The programs area
geared towards physical and mental development especially regarding the creative arts. Parents would be able to register 
and watch live feeds of their children. My role here is a Software Developer. </p>
<p><img alt="tech image" height="616" src="/Assets/images/happykids.jpg" width="1046"></p>

  </div>