<nav id="foot" class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h4>&copy; Copyright Chinedu Okechukwu COMP 229 M2021.</h4>
    </div>
  </nav>

  <!--navbar  navbar-light bg-light-->