/* app.css
Chinedu Okechukwu
300929994
3/6/2021*/
h1 {
	font-family: "Times New Roman", Times, serif;
	background-color: #0099FF;
	border-radius: 5px;
    padding-left: 10px;
}
.about {
	text-align: center;
}


#ab {
	position:absolute ;
	

}

#about {
	position:relative ;
	left: 500px;
    margin-bottom: 100px;

}

#pic {
	border: medium solid #800000;
	box-shadow: 5px 5px 5px #808080;

}

#text {
	font-size: large;
}

/* Login CSS */
.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 4px; 
}

.input-group-addon .fa
{
    font-size: 18px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    margin-bottom: 0;
}

.input-group .form-control:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}

.edit-task
{
    position: relative;
    top: -31px;
    display: none;
} 