<div class="container">
    <h1>Welcome to the about me page</h1>
    <h3>My name is Chinedu Okechukwu</h3>
    <p id="text" >I am a student of the Software Engineering Technician program. I am passionate about technology and desirous of making an impact
    in the industry. My area of focus is on everyday living apps which will be accessible for all and easy to use. I am currently
    in Toronto, Canada. My hobbies include: movies, surfing the internet and tennis.</p>
    <a href="https://drive.google.com/file/d/1TUDxtD6e8yG4SklA8xPUouyqJ8mo4aII/view?usp=sharing">Resume</a>
    <p class="about" ><img id="pic" alt="my picture" height="500" src="/Assets/images/Image.jpg" width="700"></p>
  </div>
  