
<div class="container">
    <div class="card" style="width: 20rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Contact Information</h5>
    <p class="card-text">Contact for excellent web design and Database applications.</p>
  </div>
  <li class="list-group-item">Chinedu Okechukwu</li>
  <ul class="list-group list-group-flush">
    </i><li class="list-group-item"><i class="fas fa-mobile-alt"></i></i> Phone: 666 777 7777</li>
    <li class="list-group-item"><i class="fas fa-envelope"></i> Email: <a href="mailto:cokechu1@my.centennial.ca" class="card-link">
        cokechu1@my.centennial.ca</a></li>
    
  </ul>
  <div class="card-body">
    
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

  </div>