
<div class="container">
    <div class="card" style="width: 20rem;">
  
  <div class="card-body">
    <h5 class="card-title">Contact Information</h5>
    <p class="card-text">Contact for excellent web design and Database applications.</p>
  </div>
  <li class="list-group-item">Name: Chinedu Okechukwu</li>
  <ul class="list-group list-group-flush">
    </i><li class="list-group-item"><i class="fas fa-mobile-alt"></i></i> Phone: 666 777 7777</li>
    <li class="list-group-item"><i class="fas fa-envelope"></i> Email: <a href="mailto:cokechu1@my.centennial.ca" class="card-link">
        cokechu1@my.centennial.ca</a></li>
    
  </ul>
  <div class="card-body">
    
    website: <a href="https://comp229-assignment-one.herokuapp.com/projects" class="card-link">www.comp229-assignment-one.herokuapp.com</a>
  </div>
</div>
<form class="row g-3 needs-validation" action="/home">
    <div class="col-md-4 position-relative">
      <label for="validationTooltip01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationTooltip02" value="Otto" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 position-relative">
      <label for="validationTooltipUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
    <div class="col-md-6 position-relative">
      <label for="validationTooltip03" class="form-label">City</label>
      <input type="text" class="form-control" id="validationTooltip03" required>
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">State</label>
      <select class="form-select" id="validationTooltip04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip05" class="form-label">Zip</label>
      <input type="text" class="form-control" id="validationTooltip05" required>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
    <div class="mb-3">
        <label for="validationTextarea" class="form-label">Textarea</label>
        <textarea rows="3"  required></textarea>
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>

  </div>