<div class="container">
    <h1>Welcome to my site</h1>
    <h3 class="about">Mission Statement</h3>
<p id="text" class="about" class="fs-5">"The mission is to make technology accessible for everyone"</p>
<p class="about"><img alt="tech image" height="616" src="/Assets/images/tech1.jpg" width="1046"></p>

  </div>