<div class="container">
    <h1>Welcome to my services page</h1>
    <h3>The services I offer are:</h3>
    <h3>Web development</h3>
<p><img alt="web image" height="500" src="/Assets/images/web.jpg" width="900"></p>
<p></p>
<h2>&nbsp</h2>
<h3>Database Administration</h3>
<p><img alt="data image" height="500" src="/Assets/images/database.jpg" width="900"></p>

  </div>